body {
  background: black;
  color: white;
  font-size: 16px;
  margin: 0;
  font-family: sans-serif;
}

/* @media only screen and (max-width: 767px) {
  body {
  }
} */

/* a {
  color: #006ba6;
  text-decoration: underline;
} */
/* 
h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
}
 */

/* NAVBAR */
/* 
.navbar {
  margin-top: 6em;
  position: sticky;
  top: 0;
  background-color: black;
  padding: 1rem 1.5rem;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.nav-section {
  padding-top: 2em;
}
.sm-icon-image {
  width: 1rem;
}
@media only screen and (max-width: 767px) {
  .navbar {
    font-size: 12px;
    padding: 1em 0.5em 0.5em;
  }
} 
*/
